<div class="main">
  <%= link_to "Sort Alphabetically", "/crystal_sets/#{@crystal_set.id}/crystals/?alphabetical=true" %>
  <h1><%= @crystal_set.collection_name %> Collection </h1>
  <% @crystals.each do |crystal| %>
    <%= link_to crystal.name, "/crystals/#{crystal.id}" %>
    <p>Price: $<%= crystal.price %></p>
    <p>Charged:<%= crystal.charged %></p>
    <p>Meaning:<%= crystal.description %></p>
  <% end %>
  <%= link_to "Add Crystal", "/crystal_sets/#{@crystal_set.id}/crystals/new" %>
</div>