<div class="main">
  <%= link_to "Sort Alphabetically", "/crystal_sets/#{@crystal_set.id}/crystals/?alphabetical=true" %>
  <%= form_with url: "/crystal_sets/#{@crystal_set.id}/crystals/?pricier_than=#{params[:crystals_by_price]}", method: :get, local: true do |form| %>
    <%= form.label :crystals_by_price, "Show Crystals That Cost >" %>
    <%= form.number_field :crystals_by_price, in: 0..10000000, step: :any %>
    <%= form.submit "Show Me The Crystals!" %>
  <% end %>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Charged?</th>
        <th scope="col">Meaning</th>
      </tr>
    </thead>

    <tbody>
        <% @crystals.each do |crystal| %>
        <tr class="row">
          <th scope="row"><%= crystal.id %></th>
          <td><%= link_to crystal.name, "/crystals/#{crystal.id}" %></td>
          <td><%= crystal.price %></td>
          <td><%= crystal.charged %></td>
          <td><%= crystal.description %></td>
          <td>
            <%= button_to "Edit #{crystal.name}", "/crystals/#{crystal.id}/edit", method: :get %>
            <%= button_to "Delete", "/crystals/#{crystal.id}", method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= button_to "Add Crystal", "/crystal_sets/#{@crystal_set.id}/crystals/new", method: :get %>
</div>
