<a href="/crystal_sets">Back to Crystal Sets </a>
<a href="/crystals">All Crystals</a>
<h1><%= @set.collection_name %> Collection </h1>
<% @crystals.each do |crystal| %>
  <%= link_to crystal.name, "/crystals/#{crystal.id}" %>
  <p>Price: $<%= crystal.price %></p>
  <p>Charged:<%= crystal.charged %></p>
  <p>Meaning:<%= crystal.description %></p>
<% end %>

<%= link_to "Add Crystal", "/crystal_sets/#{@set.id}/crystals/new" %>
