<div class="main">
  <div class="form">
    <h1> Create New Crystal! </h1>
    <%= form_with url: "/crystal_sets/#{@crystal_set.id}/crystals", method: :post, local: true do |form| %>
      <p>
        <%= form.label :name, "Name" %>
        <%= form.text_field :name %>
      </p>
      <p>
        <%= form.label :price %>
        <%= form.number_field :price, in: 1.0..1000.00, step: :any %>
      </p>
      <p>
        <%= form.label :charged, "Charged?" %>
        <%= hidden_field_tag  :charged, "false" %>
        <%= form.check_box :charged, {}, checked_value = true, unchecked_value = false %>
      </p>
      <p>
        <%= form.label :description %>
        <%= form.text_field :description %>
      </p>
      <p><%= form.submit "Create Crystal" %></p>
    <% end %>
  </div>
</div>