<div class="main">
<%= form_with url: "/crystals/#{@crystal.id}", method: :patch, local: true do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name, value: "#{@crystal.name}" %>
  <%= form.label :price %>
  <%= form.number_field :price, in: 1.0..1000.00, step: :any %>
  <%= form.label :charged, "Charged?" %>
  <%= form.check_box :charged, {}, checked_value = true, unchecked_value = false %>
  <%= form.label :description %>
  <%= form.text_area :description, value: "#{@crystal.description}"%>
  <%= form.submit "Update Crystal" %>
<% end %>
</div>