<div class="main">
  <div class="single_set">
    <h1>✨<%= @crystal.name %>✨</h1>
    <p> ➖ Set Name: <%= link_to @crystal.crystal_set.collection_name, "/crystal_sets/#{@crystal.crystal_set.id}" %></p>
    <p> ➖ Crystal Price: <%= @crystal.price %></p>
    <p> ➖ Charged?: <%= @crystal.charged %></p>
    <p> ➖ Crystal Meaing:  <%= @crystal.description %></p>
    <%= button_to "Edit #{@crystal.name}", "/crystals/#{@crystal.id}/edit", method: :get %>
    <%= button_to "Delete", "/crystals/#{@crystal.id}", method: :delete %>
  </div>
</div>
