<h1><%= @crystal_set.collection_name %></h1>

<%= form_with url: "/crystals_sets/#{@crystal_set.id}", method: :patch, local: true do |form| %>
  <%= form.label :collection_name, "Collection Name" %>
  <%= form.text_field :collection_name %> 
  <%= form.label :limited_edition, "Limited Edition?" %>
  <%= form.check_box :limited_edition, {}, checked_value = true, unchecked_value = false %>
  <%= form.label :inventory %>
  <%= form.number_field :inventory, in: 0..1000, step: 1 %>
  <%= form.submit "Update Crystal Set" %>
<% end %> 