<div class="main">
  <div class="single_set">
    <h1>✨<%= @crystal_set.collection_name %>✨</h2>
    <p> ➖ Holds <%= link_to " #{@crystal_set.crystal_count} Crystals", "/crystal_sets/#{@crystal_set.id}/crystals" %></p>
    <p> ➖ Limited Edition: <%= @crystal_set.limited_edition %></p>
    <p> ➖ Inventory: <%= @crystal_set.inventory %></p>
    <%= button_to "Edit #{@crystal_set.collection_name}", "/crystal_sets/#{@crystal_set.id}/edit", method: :get %>
    <%= button_to "Delete", "/crystal_sets/#{@crystal_set.id}", method: :delete %>
  </div>
</div>
