<div class="main">
 <h1><%= @crystal_set.collection_name %></h2>
  <%= button_to "Edit #{@crystal_set.collection_name}", "/crystal_sets/#{@crystal_set.id}/edit", method: :get %> 
  <p>Holds <%= link_to @crystal_set.crystal_count, "/crystal_sets/#{@crystal_set.id}/crystals" %> Crystals</p>
  <p>Limited Edition:<%= @crystal_set.limited_edition %></p>
  <p>Inventory: <%= @crystal_set.inventory %></p>
</div>