<h1 class="relative"><%= "Readings using the #{@deck.name} deck:"%><div class="navitem"><%= button_to "Add New Reading", "/tarot_decks/#{@deck.id}/readings/new", :method => "get" %></div
  ><div class="navitem">
    <%= form_with url: "/tarot_decks/#{@deck.id}/readings", :method => "get", local: true do |form| %>
    <% form.hidden_field :alpha, :value => true %>
    <%= form.submit 'Alphabatize' %>
  <% end %></div></h1><br><br>

<div class="right top">
  <% @readings.each_with_index do |reading, index| %>
  <h3><%= "Reading number #{reading.id}: " %></h3>
    <ul>
      <li><%= "Spread used: #{reading.spread}" %></li>
      <li><%= "Cards drawn: #{reading.cards_drawn}" %></li>
      <li><%= "Interpretation: #{reading.interpretation}" %></li>
      <li><%= "People in attendance: #{reading.attendees_num}" %></li>
      <li><%= "Major reading: #{reading.major_reading}" %></li>
      <li id="<%= index %>"><%= button_to "Update Reading ##{reading.id}", "/readings/#{reading.id}/edit", :method => "get" %></li>
    </ul>
  <% end %>
