<header class="navbar">
  <a href="/tarot_decks">Tarot Decks</a>
  <a href="/readings">Readings</a>
</header>
<div class="main">

<%= form_with url: '/tarot_decks', method: :post, local: true do |form| %>
  <%= form.label :name, 'Deck Name:' %>
  <%= form.text_field :name %><br><br>
  <%= form.label :number_made, 'Number Made:' %>
  <%= form.number_field :number_made, in: 1..1000, step: 1 %><br><br>
  <%= form.label :pre_owned, 'Pre-Owned?' %>
  <%= form.check_box :pre_owned, {}, checked_value = true, unchecked_value = false %><br><br>
  <%= form.submit "Add Deck" %>
<% end %>
</div>
