<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- custom yield with paramateres -->
    <%= yield(:all_css) %>
  </head>

  <body>
    <header class="navbar">
      <a href="/crystal_sets">Crystal Sets</a>
      <a href="/crystals">All Crystals</a>
      <a href="/tarot_decks">Tarot Decks</a>
      <a href="/readings">Readings</a>
    </header>
    
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
